.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
.secondary-bg{
background-color: #b399d4;
}
.text-primary {
    color: blueviolet;
}
.section-title {
    font-size: 70px; /* Dimensione del titolo aumentata */
    font-weight: bold;
    color: black;
    text-align: center; /* Centra il testo */
    margin-bottom: 20px; /* Spazio tra titolo e descrizione */
}
.section-description {
    font-size: 30px; /* Dimensione della descrizione aumentata */
    color: black;
    text-align: center; /* Centra il testo */
    margin-top: 30px; /* Spazio extra sopra la descrizione */
}
.btn-primary {
    background-color: blueviolet;
    font-weight: bold;
    font-size: 20px;
    color: #f8f8f8;
    padding: 18px 35px;
    border-radius: 5%;
    border: none;
}


.dark-2 {
    color: blueviolet;
}
/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:transparent;
    justify-content: space-between;
    margin: 0px 200px;
}

/* Stile per la scritta RIC Solution */
nav h3 {
    font-size: 3rem; /* Prova anche 4rem o 5rem per dimensioni maggiori */
    font-weight: 800; /* Imposta il peso del carattere su 800 */
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

/*header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding: 0px 18px 0px 35px;
    
}
/*banner styles*/
.banner {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
}

.banner-content{
    max-width: 800px;
    margin: auto;
    text-align: center;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 45px;
}

.banner-profile-picture{
    width: 580px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}